@import "_variables.scss";
 
.user-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include phone{
        font-size: 1rem;
        justify-content: center;
     }
    @include laptop{
        height: 90vh;
    }
    
}
.user-gallery-header{
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    @include phone{
       font-size: 1rem;
    }
    @include tablet {
        font-size: 3rem;
    }
    
   
 
}
.user-gallery-gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    @include laptop {
        height: 60%;
        width: 90%;
        flex-direction: row;
    }
}
.user-gallery-image{
    width:90%;
    padding: 1rem;
    @include laptop {
        height: 30rem;
        width: auto;
    }
}
.user-gallery-gallery-gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    @include laptop {
        height: 60%;
        width: 90%;
        flex-direction: row;
    }
}
.user-gallery2-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include laptop{
        height: 30rem;
    }
}
.card{
    perspective: 150rem; 
    -moz-perspective: 150rem;
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   width:100%;
}
.card-side{
    height: 500px;
    width: 300px;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
        height: 300px;
        width: 200px;
    } 
    @include phone{
        height: 200px;
        width: 100px;
    }
  
}
.card-side-front{
    background-size: cover;
    background-image: url("../media/burj khalifa 1.jpg");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
    
}
.card-side-back{
    background-color: rgb(22, 140, 187);
    color: white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.card:hover .card-side-front{
    transform: rotateY(-180deg);
}
.card:hover .card-side-back{
    transform: rotateY(0deg);
}
 
.card-side2{
    height: 500px;
    width: 300px;
    font-size: 15px;
    background-color: black;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
    height: 300px;
    width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    
    }
}
.card-side2-front{
    background-size: cover;
    background-image: url("../media/dubaimall.jpg");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
    
}
.card-side2-back{
    background-color: rgb(134, 9, 9);
    color:white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.card:hover .card-side2-front{
    transform: rotateY(-180deg);
}
.card:hover .card-side2-back{
    transform: rotateY(0deg);
}
 
.card-side3{
    height: 500px;
    width: 300px;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
  
}
.card-side3-front{
    background-size: cover;
    background-image: url("../media/dubai fountain.jpg");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
       width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
    
}
.card-side3-back{
    background-color:grey;
    color: white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.card:hover .card-side3-front{
    transform: rotateY(-180deg);
}
.card:hover .card-side3-back{
    transform: rotateY(0deg);
}
.cardset2{
    perspective: 150rem; 
    -moz-perspective: 150rem;
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.card-side4{
    height: 500px;
    width: 300px;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
        height: 300px;
        width: 200px;
    } 
    @include phone{
        height: 200px;
        width: 100px;
    }
  
}
.card-side4-front{
    background-size: cover;
    background-image: url("../media/dubai hotel 1.jpg");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
    
}
.card-side4-back{
    background-color: rgb(65, 83, 117);
    color: white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.cardset2:hover .card-side4-front{
    transform: rotateY(-180deg);
}
.cardset2:hover .card-side4-back{
    transform: rotateY(0deg);
}
 
.card-side5{
    height: 500px;
    width: 300px;
    font-size: 15px;
    background-color: black;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
    height: 300px;
    width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    
    }
}
.card-side5-front{
    background-size: cover;
    background-image: url("../media/dubai hotel 2.jpg");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
    
}
.card-side5-back{
    background-color: rgb(10, 185, 197);
    color:white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.cardset2:hover .card-side5-front{
    transform: rotateY(-180deg);
}
.cardset2:hover .card-side5-back{
    transform: rotateY(0deg);
}
 
.card-side6{
    height: 500px;
    width: 300px;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
  
}
.card-side6-front{
    background-size: cover;
    background-image: url("../media/dubai hotel 3.webp");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
       width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
    
}
.card-side6-back{
    background-color:rgb(107, 109, 189);
    color: white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.cardset2:hover .card-side6-front{
    transform: rotateY(-180deg);
}
.cardset2:hover .card-side6-back{
    transform: rotateY(0deg);
}
.website{
    width: 50rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    z-index: 50;
    height: 50rem;
}
