@import "_variables.scss";
 
.user-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270vh;
    @include tablet{
        height: 130vh;
        font-size: 1rem;
        justify-content: center;   
    }
    @include phone{
        height: 230vh;
        font-size: 1rem;
        justify-content: center;   
    }
}
   
    
.user-gallery-header{
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    align-items: center;
    @include tablet {
        font-size: 3rem;
    }
    @include phone{
       font-size: 3rem;
    }
}
.user-gallery-gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.user-gallery-image{
    width:90%;
    padding: 1rem;
}
.user-gallery-gallery-gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
   
}
.user-gallery2-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card{
    perspective: 150rem; 
    -moz-perspective: 150rem;
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   width:100%;
}
.card-side{
    height: 500px;
    width: 300px;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
        height: 300px;
        width: 200px;
    } 
    @include phone{
        height: 200px;
        width: 100px;
    }
  
}
.card-side-front{
    background-size: cover;
    background-image: url("../media/burj khalifa 1.jpg");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
    
}
.card-side-back{
    background-color: rgb(22, 140, 187);
    color: white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.card:hover .card-side-front{
    transform: rotateY(-180deg);
}
.card:hover .card-side-back{
    transform: rotateY(0deg);
}
 
.card-side2{
    height: 500px;
    width: 300px;
    font-size: 15px;
    background-color: black;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
    height: 300px;
    width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    
    }
}
.card-side2-front{
    background-size: cover;
    background-image: url("../media/dubaimall.jpg");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
    
}
.card-side2-back{
    background-color: rgb(134, 9, 9);
    color:white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.card:hover .card-side2-front{
    transform: rotateY(-180deg);
}
.card:hover .card-side2-back{
    transform: rotateY(0deg);
}
 
.card-side3{
    height: 500px;
    width: 300px;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
  
}
.card-side3-front{
    background-size: cover;
    background-image: url("../media/dubai fountain.jpg");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
       width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    } 
}
.card-side3-back{
    background-color:grey;
    color: white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.card:hover .card-side3-front{
    transform: rotateY(-180deg);
}
.card:hover .card-side3-back{
    transform: rotateY(0deg);
}
.cardset2{
    perspective: 150rem; 
    -moz-perspective: 150rem;
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.card-side4{
    height: 500px;
    width: 300px;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
        height: 300px;
        width: 200px;
    } 
    @include phone{
        height: 200px;
        width: 100px;
    }
  
}
.card-side4-front{
    background-size: cover;
    background-image: url("../media/dubai hotel 1.jpg");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
    
}
.card-side4-back{
    background-color: rgb(65, 83, 117);
    color: white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.cardset2:hover .card-side4-front{
    transform: rotateY(-180deg);
}
.cardset2:hover .card-side4-back{
    transform: rotateY(0deg);
}
 
.card-side5{
    height: 500px;
    width: 300px;
    font-size: 15px;
    background-color: black;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
    height: 300px;
    width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    
    }
}
.card-side5-front{
    background-size: cover;
    background-image: url("../media/dubai hotel 2.jpg");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
    
}
.card-side5-back{
    background-color: rgb(10, 185, 197);
    color:white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.cardset2:hover .card-side5-front{
    transform: rotateY(-180deg);
}
.cardset2:hover .card-side5-back{
    transform: rotateY(0deg);
}
 
.card-side6{
    height: 500px;
    width: 300px;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
        height: 300px;
        width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
  
}
.card-side6-front{
    background-size: cover;
    background-image: url("../media/dubai hotel 3.webp");
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    @include tablet{
        height: 300px;
       width: 200px;
    }
    @include phone{
        height: 200px;
        width: 100px;
    }
    
}
.card-side6-back{
    background-color:rgb(107, 109, 189);
    color: white;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.cardset2:hover .card-side6-front{
    transform: rotateY(-180deg);
}
.cardset2:hover .card-side6-back{
    transform: rotateY(0deg);
}
.pictures-header{
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    align-items: center;
    @include phone{
       font-size: 1rem;
    }
    @include tablet {
        font-size: 3rem;
    } 
}
.pictures{
    flex-flow: row;
    text-align: center;
}

#review1:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  border-width: 100%;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
#review1{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    flex-grow: 1;
    width:50rem;
    border-width: 50%;
}

#review2:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-width: 100%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  #review2{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
      flex-grow: 1;
      width:50rem;
      border-width: 50%;
  }
  #review3:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-width: 100%;
  }
  #review3{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
      flex-grow: 1;
      width:50rem;
      border-width: 50%;
  }
  .social-header{
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    align-items: center;
    @include phone{
       font-size: 1rem;
    }
    @include tablet {
        font-size: 3rem;
    } 
}
.social{
    flex-flow: row;
    text-align: center;
}

#social1:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  border-width: 100%;
 
}
#social1{
    
    flex-grow: 1;
    width:50rem;
    border-width: 50%;
}

#social2:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-width: 100%;
   
  }
  #social2{
    
      flex-grow: 1;
      width:50rem;
      border-width: 50%;
  }
  #social3:hover{

    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-width: 100%;
  }
  #social3{
 
      flex-grow: 1;
      width:50rem;
      border-width: 50%;
  }




  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
  }
  .sidebar header {
    font-size: 22px;
    color: white;
    line-height: 30px;
    text-align: center;
    background: #063146;
    user-select: none;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
  }
  label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    left: 195px;
  }
  #check:checked ~ section{
    margin-left: 250px;
  }
  section{
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
  }