
@import "_variables.scss";
@import "_usergallery.scss";
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  @include phone{
    font-size:30%;
   
 }
}
body {
<<<<<<< HEAD
  background: linear-gradient(#000000,  #073cad);
  z-index: 1;
=======
  background-color: black;
  
>>>>>>> parent of 9116b4a... more
  @include tablet{
    background: linear-gradient(#000000,  #073cad);
  @include phone{
    background: linear-gradient(#000000,  #073cad);
  }
}
}
.header {
  background-size: cover;
  background-position: center;
  background-image: url(../media/dubaicity.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 95vh;
  width: 99%;
  display: flex;
  margin: 1rem;
 
  .text-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    width: 100vw;
    text-align: center;
    //text-shadow: 3px 3px 8px #111;
    font-weight: 700;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
 
    .heading-primary-main {
      font-size: 10rem;
      text-shadow: 3px 3px #333;
      width: 80vw;
      letter-spacing: 1rem;
     text-align: left;
      margin: 0 auto;
      @include tablet {
        font-size: 6rem;
        letter-spacing: 1.8rem;
      }
      @include phone{
        font-size: 10rem;
       
     }
 
    }
  .heading-primary-sub {
      font-size: 3rem;
      width: 80vw;
      margin: 0 auto;
      text-align: left;
      color: white;
      }
      @include phone{
        font-size: 4rem;
       
     }
    }
  
}
  @keyframes slide-in {
    0% {
    transform: translateY(-200rem);
    }
    100% {
    transform: translateY(-100);
    }
}
.gallery-hotels-text{
  color: white;
  text-transform: capitalize;
  font-size: 5rem;
  width: 80vw;
  letter-spacing: .5rem;
  text-align: center;
  margin: 0 auto;
  padding: 5rem;
  @include desktop{
    padding: 5rem;
  }
  @include laptop {
    padding: 5rem;
  }
    @include tablet {
      font-size: 4rem;
      letter-spacing: 0rem;
      padding: 5rem;
    }
    
}
 


